providers = ["php"]

[phases.setup]
# Ganti 'composer' menjadi 'phpPackages.composer'
nixPkgs = ["php", "phpPackages.composer", "phpExtensions.gd", "phpExtensions.pdo_mysql", "nodejs"]

[phases.install]
cmds = ["composer install --no-dev --optimize-autoloader --ignore-platform-reqs"]

[phases.build]
cmds = [
  "npm install && npm run build",
  "cp .env.example .env",
  "php artisan key:generate --force",
  "php artisan storage:link || true"
]